# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\itschool projects\clientApp-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
